* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* banner style */

.new_year_banner {
    height: 600px;
    width: 1320px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../images/Banner_Image.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
    border-radius: 20px;
    
}

.new_year_banner_contents {
    text-align: center;
    color: #ffffff;
    padding: 190px 345px;
    font-family: 'Times New Roman', Times, serif;
}

.new_year {
    font-size: 30px;
    padding-bottom: 10px;
}

.new_year_celebration {
    font-size: 70px;
    line-height: 86px;
}

/* discount section */

.new_year_discount{
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.discount_offer{
    color: #ff0000;
    font-size: 88px;
}

.better_deals{
    margin: 48px 0px;
}

.holiday_deals{
    font-size: 24px;
    font-weight: 500;
    color: #ff0000;
}

.catagories{
    font-size: 48px;
}

/* Midnight_party section */

.midnight_party{
    margin: 120px auto;
    height: 600px;
    width: 1320px;
    background-image:linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.party_banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 126px;
}

.party_banner_headline{
    font-size: 64px;
    color: #ffffff;
}

.party_description{
    font-size: 18px;
    color: #ffffff;
    padding-top: 30px;
    width: 700px;
}

.join_btn{
    padding: 10px 15px;
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.join_btn:hover{
    color: #ffffff;
    background-color: #C3852F;
}


/* all products section */

.party_products{
    margin: 120px auto;
    text-align: center;
    width: 1320px;
    font-family: Arial, Helvetica, sans-serif;
}

.best_gifts{
    text-align: left;
    font-size: 24px;
    color: #ff0000;
}

.products_title{
    text-align: left;
    font-size: 48px;
    margin: 20px 0px;
}

.products_description{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    width: 890px;
}

.products img{
    width: 435px;
    height: auto;
    padding: 20px;
}

.products img:hover{
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.533);
    border-radius: 10px;
}