* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* banner style */

.new_year_banner {
    height: 600px;
    width: 1320px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../images/Banner_Image.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
    border-radius: 20px;
    
}

.new_year_banner_contents {
    text-align: center;
    color: #ffffff;
    padding: 190px 345px;
}

.new_year {
    font-size: 30px;
    padding-bottom: 10px;
}

.new_year_celebration {
    font-size: 70px;
    line-height: 86px;
}

/* discount section */

.new_year_discount{
    margin: 100px auto;
    text-align: center;
}

.discount_offer{
    color: #FF0000;
    font-size: 88px;
}

.better_deals{
    margin: 48px 0px;
}

.holiday_deals{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.catagories{
    font-size: 48px;
    color: #000000;
}

/* Midnight_party section */

